/* home page layout CSS by Cara */

.restaurant_card {
  background-color: beige;
  box-shadow: 3px 3px 1px lightgray;
  border-radius: 10px 10px 10px 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.viewMore {
  display: inline;
  font-size: 120%;
  margin-left: 40%;
}
.viewMore:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
  position: center;
}

header h1 {
  margin-top: 45px;
  margin-left: 45px;
}

header p {
  margin-left: 45px;
}

.sub_text {
  color: grey;
}

