<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Over the Pacific</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/site.css">

</head>

<header>
    <h1>Welcome to Over the Pacific!</h1>
    <p>Find, rate, and review your favourite restaurant.<p>
      <br>
    <div class="login-register-buttons">
      <div class="container">
          <div class="row">
              <div class="col-md-12 bg-light text-right">
                  <button type="button" id="login_button" value="Login"class="btn btn-primary btn-lg">Login</button>
                  <button type="button" id="register_button" value="Register" class="btn btn-secondary btn-lg">Register</button>
              </div>
          </div>
      </div>
    </div>
</header>

<body>




{{{body}}}
</body>


</html>