<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Over the Pacific</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/site.css">

</head>

<header>
    <h1>Welcome to Over the Pacific!</h1>
    <p>Find, rate, and review your favourite restaurant.<p>
      <br>
</header>

<body>

{{{body}}}
</body>


</html>