<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Over the Pacific</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/site.css">

</head>

<header>
    <div  style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-end; margin: 30px" >
        <div class="title">
            <h1>Welcome to Over the Pacific!</h1>
            <p>Find, rate, and review your favourite restaurant.<p>
            <br>
        </div>


        <!-- login & logout access -->

        <div class="login&logout" style="display: flex; flex-direction: row; justify-content: center; align-items: center; ">

                <div class="icon" style="display: flex; align-items: center; margin: 5px">
                    <img src="./icon/avatar.png" alt="avatar" width="35px" height="35px">

                {{#if login}}
                    <a href="./login" style="font-size: 20px; color: #555555; margin: 5px 10px 5px 5px; ">Log in</a>
                {{else}}
                    <a href="./logout" style="font-size: 20px; color: #555555; margin: 5px">Log out</a>
                {{/if}}
                </div>

        </div>

    </div>
</header>

<body>
{{{body}}}
</body>


</html>
